<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mercy Corps Afghanistan</title>
  <!-- CSS libraries  -->
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css" />
  <link rel="stylesheet" href="http://cartodb.github.io/odyssey.js/sandbox/css/slides.css">
  <!-- Mapbox JS -->
  <script src='http://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <!-- CSS for UI  -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

  <!-- buttons to toggle zoom -->
  <div id="ui-zoom" class="ui mini">
    <a href="#" id="zoom-in"><img src="images/zoom-in.png"/></a><br/>
    <a href="#" id="zoom-out"><img src="images/zoom-out.png"/></a>
  </div>

  <!-- GUI -->
  <div id="ui-container" class="ui">

      <h4 class="en">Stories</h4>
      <br/>
      <input type="checkbox" name="stories" class="regular-checkbox" value="sites-of-gentrification" id="sites-of-gentrification"/>
      <label for="sites-of-gentrification"></label><span class="en">Sites</span>
      <br/>

  </div>

  <!-- map is rendered here, all other html elements are positioned absolutely with a higher z-index -->
  <div id="map"></div>

  <!-- empty div to render the legends template in -->
  <div id="ui-legend" class="ui legend hidden"></div>



  <!-- top menu bar ENGLISH-->
  <div class="navigation en">
    <ul class="navbar">
      <li><a href="./about.html" class="button">About</a></li>
      <li><a href="./research.html" class="button">Research</a></li>
      <li><a href="./contact.html" class="button">Contact</a></li>
    </ul>
  </div>

  <!-- INTRO+SLIDES div -->
  <div id="intro_and_slides">
    <!-- Map title and intro -->
    <div id="intro">
      <h1 class="en"><a href="#" class="button"><img src="images/logo.gif"/><br/>INVEST in Kandahar</a></h1>
    </div>
    
    <!-- SLIDES CONTAINER -->
     <div id="slides_container">

      <!-- SHOW/HIDE INTRO -->
      <div id="toggle_slides">
        <a href="#" class="en">Hide intro</a>
      </div>

      <!-- SLIDES BEGIN -->
      <div id="slides">

        <!-- SLIDE #0 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1 id="about">Introduction</h1>
            <p>
              Slide 0 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #1 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1 id="rheingoldStory">The Rheingold Development</h1>
            <p>
              Slide 1 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #2 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1 id="far">Floor Area Ratio<br> Map Layer</h1>
            <p>
              Slide 2 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #3 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1>New Buildings Map Layer</h1>
            <p>
              Slide 3 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #4 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1>Likely Rent Stabilized<br> Map Layer</h1>
            <p>
              Slide 4 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #5 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1 id="colony"> Colony 1209 </h1>
            <p>
              Slide 5 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #6 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1>Colony 1209</h1>
            <p>
              Slide 6 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #7 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1>Colony 1209</h1>
            <p>
              Slide 7 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #8 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1 id="linden"> 98 Linden</h1>
            <p>
              Slide 8 Content Goes Here
            </p>
        </div>

        <!-- SLIDE #9 -->
        <div class="slide">

          <!-- ENGLISH -->
          <div class="en">
            <h1>DOB Permits map layer</h1>
            <p>
              Slide 9 Content Goes Here
            </p>
          </div>

        </div>

        <!-- SLIDE #10 -->
        <div class="slide">
          <!-- ENGLISH -->
          <div class="en">
            <h1>End of Introduction</h1>
            <p>
              Slide 10 Content Goes Here
            </p>
          </div>

        </div>
        <!-- LAST SLIDE -->

      </div>
      <!-- SLIDES END -->

      <!-- ARROWS -->
      <ul id="navButtons">
        <li><a class="prev"></a></li>
        <li><a class="next"></a></li>
      </ul>

      <!-- LINKS TO STORIES-->
      <div id="navStories">
        <ul>
          <li class='kandahar story' data-slide="1"><a href="#">Kandahar</a></li>
        </ul>
      </div>

    </div>
    <!-- END OF SLIDES CONTAINER-->

  </div>
  <!-- END OF INTRO+SLIDES DIV -->

  <!-- top menu bar ENGLISH-->
  <div class="navigation en">
    <ul class="navbar">
      <li><a href="html/about.html" class="button">About</a></li>
      <li><a href="html/research.html" class="button">Research</a></li>
      <li><a href="html/contact.html" class="button">Contact</a></li>
    </ul>
  </div>

  <!-- an empty div to render the DOB Permit layer info on mouse hover -->
  <div id="tool-tip"></div>

 <!-- underscore template for dynamically rendering choropleth map legends -->
  <script type="text/template" class="template">
    <h4><%- legend.title %></h4>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <% _.each( legend.items, function(item){ %>
        <li><span style='background:<%-item.color %>;'></span><%-item.label%></li>
        <% }); %>
      </ul>
    </div>
  </script>

  <!-- JS libraries -->
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="lib/leaflet-plugins/layer/tile/Bing.js"></script>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.standalone.js'></script>
  <script src="lib/cartodb.js/dist/cartodb.noleaflet.js"></script>
  <script src="js/odyssey.js" charset="UTF-8"></script>
  <script src="js/internal_pages.js"></script>

  <!-- JS code for map interaction  -->
  <script src="js/mapStyles.js"></script>
  <script src="js/intro.js"></script>
  <script src="js/main.js"></script>
  <script src="js/internal_pages.js"></script>


</body>
</html>
