section.pages
  background-color: $color-smoke

  article
    border-top: 1px solid $color-shade

    &:last-of-type
      border-bottom: 1px solid $color-shade

  article.intro
    font-family: $type-family-mono
