section.tour
  position: relative
  
  h2
    color: $color-charcoal
    text-transform: uppercase

  blockquote
    margin: 1rem 0
    padding-left: 1rem
    border-left: 2px solid $color-mercy-red
    font-family: $type-family-mono
    color: $color-charcoal
