section.tour
  position: relative

  article
    position: relative
    padding-top: 3rem
    padding-bottom: 3rem
    border-bottom: 1px solid $color-smoke
    +transition(background-color, 0.5s, linear)

    &.current
      background-color: lighten($color-smoke, 5%)

      &::after
        content: ''
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
        border-left: 10px solid lighten($color-smoke, 5%)
        width: 0
        height: 0
        position: absolute
        left: 100%
        top: 50%
        margin-top: -5px

      h2
        color: $color-mercy-red
  
  h2
    color: $color-charcoal
    text-transform: uppercase
    margin-bottom: 1em

  blockquote
    margin: 1rem 0
    padding-left: 1rem
    border-left: 2px solid $color-mercy-red
    font-family: $type-family-mono
    color: $color-charcoal

  .related-button
    +button
    margin-top: 1rem
