// Global

*,
*::before,
*::after
  box-sizing: border-box

// Roots

html,
body
  font-size: $type-size-base
  line-height: $type-leading-base
  margin: 0
  padding: 0

html
  height: 100%

body
  font-family: $type-family-sans
  min-height: 100%
  color: $color-black


// Base Elements: Sectioning

header,
main,
footer,
section,
article
  display: block


// Base Elements: Typographic

p
  margin: 0

  & + p
    margin-top: 1em

h1,
h2,
h3,
h4,
h5,
h6
  font-size: inherit
  font-weight: normal
  margin: 0
  font-weight: bold

  * + &
    margin-top: 2em

h1
  font-size: 1.5rem
  font-family: $type-family-condensed

h2
  font-family: $type-family-condensed
  
// Links

a
  color: inherit

// Base Elements: Media

img,
svg,
video
  max-width: 100%
