// Layout

$layout-columns-count: 12
$layout-columns-gutter: 1rem

$layout-breakpoint-tablet: 1024px
$layout-breakpoint-mobile: 640px

// Typography

$type-size-base: 16px
$type-leading-base: 20px

$type-family-sans: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
$type-family-condensed: "Roboto Condensed", Georgia, serif
$type-family-mono: "Roboto Mono", Monaco, monospace

// Color
$color-white: rgb(255, 255, 255)
$color-black: rgb(20, 20, 20)
$color-charcoal: rgb(80, 80, 80)
$color-smoke: rgb(220, 220, 220)
$color-mercy-red: rgb(178, 8, 56)
