---
title: Tour
---

= partial 'partials/map', locals: { map_id: 'invest' }

section.top
  
section.pages
  article
    .column.col-12.site-title
      h1 = data.site.title
  article
    - pages = sitemap.find_resource_by_path('/pages/index.html').children
    - pages.each_with_index do |page, index|
      .column.col-12.subpage-link
        = page.data.title


section.tour
  - tour = sitemap.find_resource_by_path('/tour/index.html')
  / It doesn't appear that Middleman has a clean way of sorting pages by filename/path, so we have to include the step number in each step's frontmatter, then call it here. One would assume that the default ordering of #children would be the directory or path names, but such is not the case.
  - steps = tour.children.sort { |a, b| a.data.step <=> b.data.step }
  - steps.each_with_index do |step, index|
    article.step data-step="#{index}" data-layers="" data-lat="#{step.data.lat}" data-lng="#{step.data.lng}"
      .column.col-12
        h2 = step.data.title
        / #render appears to be the only method for fetching the content of a resource
        = step.render layout: false
